*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    
}
header{
    position:absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    
}
header .logo{
    text-decoration: none;
    color: rgb(254, 255, 255);
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

header .Navigation .Navigation_items a{
    position: relative;
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-weight: 500;
    font-size: 1em;
    margin-left: 50px;
    transform: 0.3s ease;
    
}
header .Navigation .Navigation_items a:before{
    content: '';
    position: absolute;
    background: rgb(248, 247, 247);
    width: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    transition: 0.5s ease;
}
header .Navigation .Navigation_items a:hover:before{
    width: 100%;
}
section{
    padding:100px 200px ;
    
}
.home{
    position: relative;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #16acda;
}
.home:before{
    content: '';
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgb(115, 143, 147,0.4);
    top: 0;
    left: 0;
}
.home .content{
    z-index: 888;
    color: rgb(255, 255, 255);
    width: 75%;
    margin-top: 50px;
    transition: 1.5s ease;
    display: none;
}
.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 40px;
    letter-spacing: 5px;
    line-height: 80px;
    text-transform: uppercase;
    

}
.home .content h1 span{
    font-size: 1.5em;
    font-weight: 800;
    
}
.home .content p{
    margin-bottom: 40px;
    font-size: 1.3em;
    
}
.home .content a{
    text-decoration: none;
    background-color: antiquewhite;
    padding: 8px;
    border-radius: 3px;
    color: #171718;
    
    
}
.home .icons{
    z-index: 888;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 40px;
    
}
.home .icons a{
    
    color: aliceblue;
    font-weight: 500;
    font-size: 2em;
}
.home .icons a:not(:last-child){
    margin-bottom: 20px;
}
.home .icons a:hover{
    transform: scale(1.4);
}



.slider{
   z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 5px;
    cursor: pointer;
    
}
.slider .sliderbtn{
    width: 30px;
    height: 3px;
    background: whitesmoke;
    border-radius: 10%;
    
    box-shadow: 0 0 2px rgba(225, 225, 225, 0.705);
    transition: .7s ease;
}
.slider .sliderbtn.active{
    background-color: #688a8a;
}
.slider .sliderbtn:not(:last-child){
    margin-right: 20px;
}
.slider .sliderbtn:hover{
    transform:scale(1.5);
}
.video_slides{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%); 
}
 .video_slides.active{
    clip-path: circle(150% at 0 50%); 
    transition-property: clip-path;
    transition: 2s ease;
} 
@media(max-width :1040px){
    header{
        padding: 10px 20px;
    }

    section{
        padding: 100px 20px;
    }
    .home .icons{
        right: 15px;   
    }

    
header .Navigation{
   display: none;
}
    
header .Navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(1, 1, 1, 0.5);
}
header .Navigation.active .Navigation_items a{
    margin: 20px;
    color: rgb(20 19 19);
    font-weight: 600;
    font-size: 1.3em;
    
}
header .Navigation .Navigation_items a::before{
    background: black;
    height: 4px;
}
header .Navigation .Navigation_items {
    background: white;
    width: 500px;
    max-width: 600vh;
    padding: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1 , 20 , 10 rgb(1,1,1,1/2);

}
.menu_btn{
    background: url(menu1.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    
}
.menu_btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.5s ease;
    
}


}
section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}